
html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #f8888e;
	background-color: #f9efef;
	min-width: 320px;
}

canvas {
  width: 100%;
  height: auto;
}

#decrease-font-size-button, #increase-font-size-button {
  font-weight: bold;
}

#text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 50px 0;
}

a {
	color: #FF0000;
}

a:hover {
	color: #FFC0CB;
}

.navbar-light .navbar-nav .nav-link {
	color: #f8888e;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	display: block;
	width: 100%;
	background-color: #110001;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}
.modal-content {
	background-color:#ffedeb;
}
.modal-body img {
	max-width: 300px;
}

.my-carousel {
	padding: 0;
}

.my-carousel .carousel-item {
	display: flex;
	max-height: 750px;
}

.my-carousel .carousel-item img {
	object-fit: cover;
}

.product-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
}

.product-card:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
	padding: 20px;
}

.product-thumb img {
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding: 20px;
}

.product-details h4 a {
	font-weight: 500;
	display: block;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
}

.product-details p {
	font-size: 15px;
	margin-bottom: 20px;
	color: #999;
	height: 44px;
	overflow: hidden;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-price {
	font-size: 18px;
	color: #ee6e73;
	font-weight: 600;
}

.product-price small {
	color: #ccc;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
}

.product-links a {
	font-size: 20px;
	margin-left: 10px;
}

.footer {
	background-color: #ffedeb;
}

.footer h4 {
	color: #ccc;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #666;
	padding-bottom: 3px;
}

.footer a {
	text-decoration: none;
	transition: all .3s;
}

.footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer a, .footer li {
	color: #808080;
}

.footer li a {
	display: block;
}

.footer-icons a {
	display: inline-block;
	margin-right: 15px;
	font-size: 20px;
}
}
element.style {
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
.contact-content {
    text-align: center;
    background-color: #ffffff;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 110px;
    margin-right: 110px;
}
body {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

html {
    font-size: 16px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
